In [1]:
import pandas as pd

df = pd.read_csv('atp_tennis.csv',low_memory=False)
print(f"Shape of dataset: {df.shape} ")

Shape of dataset: (66910, 17)

In [2]:
print(f"First 5 rows:\n")
df.head()

First 5 rows:

,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,Score
0,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,Ljubicic I.,Dosedel S.,63,77,-1,-1,-1.0,-1,6-4 6-2
1,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Clement A.,Enqvist T.,Enqvist T.,56,5,-1,-1,-1.0,-1,3-6 3-6
2,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Escude N.,Baccanello P.,Escude N.,40,655,-1,-1,-1.0,-1,6-7 7-5 6-3
3,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Knippschild J.,Federer R.,Federer R.,87,65,-1,-1,-1.0,-1,1-6 4-6
4,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Fromberg R.,Woodbridge T.,Fromberg R.,81,198,-1,-1,-1.0,-1,7-6 5-7 6-4

In [3]:
print("Dataset Info: ")
df.info()

Dataset Info:
<class 'pandas.DataFrame'>
RangeIndex: 66910 entries, 0 to 66909
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tournament  66910 non-null  str
 1   Date        66910 non-null  str
 2   Series      66910 non-null  str
 3   Court       66910 non-null  str
 4   Surface     66910 non-null  str
 5   Round       66910 non-null  str
 6   Best of     66910 non-null  int64
 7   Player_1    66910 non-null  str
 8   Player_2    66910 non-null  str
 9   Winner      66910 non-null  str
 10  Rank_1      66910 non-null  int64
 11  Rank_2      66910 non-null  int64
 12  Pts_1       66910 non-null  int64
 13  Pts_2       66910 non-null  int64
 14  Odd_1       66910 non-null  float64
 15  Odd_2       66910 non-null  str
 16  Score       66910 non-null  str
dtypes: float64(1), int64(5), str(11)
memory usage: 8.7 MB